<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
</head>
<body>
    <!-- & FIRST CARD BLOCK STARTS HERE -->
    <section  id="card1">
        <main id="container">
            <article class="first_block">
                <aside class="icon_block">
                    <i class="fa-solid fa-car-side"></i>
                </aside>
                <aside class="heading_block">
                    SEDANS
                </aside>
                <aside class="para_block">
                    Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.
                </aside>
            </article>
            <article class="second_block">
                Learn More
            </article>
        </main>
    </section>
        <!-- & FIRST CARD BLOCK ENDS HERE -->


        <!-- & SECOND CARD BLOCK STARTS HERE -->
    <section id="card2">
        <main id="container">
            <article class="first_block">
                <aside class="icon_block">
                    <i class="fa-solid fa-car-side"></i>
                </aside>
                <aside class="heading_block">
                    SEDANS
                </aside>
                <aside class="para_block">
                    Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.
                </aside>
            </article>
            <article class="second_block">
                Learn More
            </article>
        </main>
    </section>
        <!-- & SECOND CARD BLOCK ENDS HERE -->

        <!-- & THIRD CARD BLOCK STARTS HERE -->
    <section id="card3">
        <main id="container">
            <article class="first_block">
                <aside class="icon_block">
                    <i class="fa-solid fa-car-side"></i>
                </aside>
                <aside class="heading_block">
                    SEDANS
                </aside>
                <aside class="para_block">
                    Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.
                </aside>
            </article>
            <article class="second_block">
                Learn More
            </article>
        </main>
    </section>
        <!-- & THIRD CARD BLOCK ENDS HERE -->

</body>
</html>