<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <article id="result_block">
            <main class="container1">
                <aside class="result">
                    Your Result
                </aside>
                <aside class="circle">
                    <div class="num1">76</div>
                    <div class="num2">of 100</div>
                </aside>
                <aside class="great">Great</aside>
                <aside class="para">
                    Your scored higher than 65% of the people who have taken these tests.
                </aside>
            </main>
        </article>
        <article id="summary_block">
            <main class="container2">
                <aside class="summary">
                    Summary
                </aside>
                <aside class="scores">
                    <div class="marks div1">
                        <aside class="content reaction"><i class="fa-solid fa-bolt"></i> Reaction</aside>
                        <aside><b>80</b> / 100</aside>
                    </div>  
                    <div class="marks div2">
                        <aside class="content memory"><i class="fa-solid fa-brain"></i> Memory</aside>
                        <aside><b>92</b> / 100</aside>
                    </div>
                    <div class="marks div3">
                        <aside class="content  verbal"><i class="fa-solid fa-comment-dots"></i> Verbal</aside>
                        <aside><b>61</b> / 100</aside>
                    </div>
                    <div class="marks div4">
                        <aside class="content  visual"><i class="fa-regular fa-eye"></i> Visual</aside>
                        <aside><b>72</b> / 100</aside>
                    </div>
                </aside>
                <aside class="continue">
                    Continue
                </aside>
            </main>
        </article>
    </section>
</body>
</html>