/* ^ Transform property */
/* ? transfrom: scale(5) => integer/ decimal */
/* ?  transfor: slow(30deg) => in degree  */
/* ? trasform: rotate(360deg) => in degree  */

section {
    height: 200px;
    width: 200px;
    background-image: url(monkey.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    margin: 100px;
    transition: all 5s linear 0s;
    /* transform: rotate(30deg); */
}

section:hover {
    /* transform: scale(0.2); */
    /* (-2) , (-0.2) */
    /* transform: skew(90deg); */
    transform: rotate(360deg);
}