section{
    height: 400px;
    width:400px;
    border:5px solid black;
    margin: 100px;
    position: relative;
}

main{
    height: 150px;
    width:300px;
    background-color: blue;
    position: absolute;
    top: 32px;
    left: 169px;
    z-index: -1;
}

article{
    height: 300px;
    width:150px;
    background-color: green;
    position: absolute;
    top: 137px;
    left: 235px;
    z-index: -2;
}
aside{
    height: 150px;
    width:300px;
    background-color: yellow;
    position: absolute;
    top: 386px;
    left: 161px;
    z-index: -3;
}