* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 300px;
    width: 300px;
    border: 2px solid rgb(255, 0, 0);
    /* position: absolute; */
}

section h1 {
    display: none;
    margin-top: 80%;
    /* position: relative; */
    border: 2px solid rgb(55, 0, 255);
    transform: 2s;
    transition: all 3s ease;
    /* transition: all 3s ease; */
}


section:hover h1 {
    display: block;
}